name: Node.js CI

# Se ejecuta en cada 'push' o 'pull request' a la rama principal (main)
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    
    strategy:
      matrix:
        node-version: [ '18.x', '20.x' ] #

    steps:

    - uses: actions/checkout@v4
      with:
        submodules: true


    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm' 


    - name: Install Dependencies
      run: npm install

    - name: Run Tests
      run: npm test